#carousel {
    width: 100%;
    max-height: 250px;
    background-color: #fff;

    overflow: auto;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}

.responsive {
  max-width: 300px;
  width: 100%;
  height: auto;
}

#bio, #timeline {
    padding: 20px;
}

#timeline {
    position: fixed;
    bottom: 0;
}

.timeline-pic {
    text-align: center;
}

.bio-img {
    max-width: 95%;
}
